* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

.app {
  width: 550px;
  margin: auto;
  display: flex;
  flex-direction: column;
 
}

.light-app{
  gap: 4px;
}

html {
  scroll-behavior: smooth;
}
